*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 50%;
}

body {
    background-color: bisque;
    box-sizing: border-box;
}

.container {
    width: 25rem;
    height: 100%;
    margin: 0 1rem;
    position: relative;
}

h2 {
    margin: 2rem;
    font-size: 20px;
}

.searchbar {
    font-size: 2.4rem;
    width: 25rem;
    height: 5rem;
    border: none;
    outline: none;
    border-radius: 10rem;
    padding: 2rem;
    transition: all .1s;
    transition-delay: .1s;
}

.searchbar:hover {
    width: 27rem;
    height: 6rem;
}

.button {
    height: 2rem;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    transition: all .1s;
    transition-delay: .1s;
    color: white;
    background-color: blue;
}

.button:hover {
    cursor: pointer;
}

.searchbar:hover+.button {
    height: 2.5rem;
    top: 1.8rem;
    right: 0;
}

.searchbar::placeholder {
    opacity: .3;
}


.div_h2 {
    display: flex;
}

.button_container {
    margin:12px;
    right: -6px;
    position: relative;
    
}