h1 {
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  padding: 15px 18px;
  box-sizing: border-box;
}

input {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  padding: 15px 18px;
  box-sizing: border-box;
}

form {
  width: 35rem;
  margin: auto;
  color: whitesmoke;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(11, 15, 13, 0.582);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

form div:after {
  content: "";
  display: table;
  clear: both;
}

span.psw {
  float: right;
  padding-top: 16px;
}

form div {
  margin-bottom: 15px;
  position: relative;
}

body {
  font-family: Arial;
  background: -webkit-linear-gradient(to right, #155799, #159957);
  background: linear-gradient(to right, #155799, #159957);
  color: whitesmoke;
}

button {
  background-color: #030804;
  color: white;
  padding: 14px 20px;
  border-radius: 5px;
  margin: 7px 0;
  width: 100%;
  font-size: 18px;
}

button:hover {
  opacity: 0.6;
  cursor: pointer;
}