#sidenav {
    margin-left: 30%;
    /* Отступ слева */

}

.welcome {
    margin-left: 31%;
    margin-top: 4%;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

body {
    background-color: bisque;
}

a {
    text-decoration: none;
}

li {
    float: left;
    /*Размещаем список горизонтально для реализации меню*/
    margin-right: 5px;
    /*Добавляем отступ у пунктов меню*/
}

ul {
    list-style: none;
    /*убираем маркеры списка*/
    margin: 0;
    /*убираем отступы*/
    padding-left: 0;
    /*убираем отступы*/
    margin-top: 25px;
    /*делаем отступ сверху*/
}

a {
    text-decoration: none;
    /*убираем подчеркивание текста ссылок*/
    background: #30A8E6;
    /*добавляем фон к пункту меню*/
    color: #fff;
    /*меняем цвет ссылок*/
    padding: 10px;
    /*добавляем отступ*/
    font-family: arial;
    /*меняем шрифт*/
    border-radius: 4px;
    /*добавляем скругление*/
    -moz-transition: all 0.3s 0.01s ease;
    /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

a:hover {
    background: #1C85BB;
    /*добавляем эффект при наведении*/
}

li {
    float: left;
    /*Размещаем список горизонтально для реализации меню*/
    margin-right: 5px;
    /*Добавляем отступ у пунктов меню*/

}